.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      font-weight: bold;
      font-size: 2rem;
      padding: 1rem;
    }

    .input input {
      font-size: 2rem;
      padding: 0.5rem;
      outline: none;
    }
  }

  button {
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 1rem 5rem;
  }
}
