.error {
  $errorColor: red;

  display: flex;
  flex-direction: column;

  .validated-control {
    &  > .mui-textfield, &  > .mui-select {
      margin-bottom: 0;

      label {
        color: $errorColor !important;
      }
      input {
        border-color: $errorColor !important;
      }
    }
  }

  .error-message {
    color: $errorColor;
    padding-bottom: 1em;

    font-size: 0.7rem;
  }
}
